.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* title in the header toolbar  */
.fc .fc-toolbar-title {
  font-size: 1rem;
  font-weight: bold;
}

.fc .fc-list-day-cushion {
  background-color: #3ea16b; /* Couleur de fond personnalisée */
  color: #333; /* Couleur du texte */
  font-weight: bold;
  padding: 10px;
}

.notyf {
  z-index: 999999 !important;
}

.tooltip {
  z-index: 999999 !important;
}

.card {
  z-index: 50 !important;
}


/* ✅ Style du scrollbar pour Chrome, Edge et Safari */
::-webkit-scrollbar {
  width: 8px; /* Largeur de la scrollbar */
}

::-webkit-scrollbar-track {
  background: transparent; /* Fond transparent */
}

::-webkit-scrollbar-thumb {
  background: #c4c4c4; /* Couleur de la poignée */
  border-radius: 10px; /* Bords arrondis */
}

::-webkit-scrollbar-thumb:hover {
  background: #a0a0a0; /* Couleur au survol */
}

/* ✅ Pour Firefox */
* {
  scrollbar-width: thin; /* Scroll fin */
  scrollbar-color: #c4c4c4 transparent; /* Couleurs */
}